      /* CSS Resets */
      /* 1. Use a more-intuitive box-sizing model. */
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      /* 2. Remove default margin */
      * {
        margin: 0;
      }
      /* Typographic tweaks! 3. Add accessible line-height 4. Improve text rendering */
      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }
      /* 5. Improve media defaults */
      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }
      /* 6. Remove built-in form typography styles */
      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      /* 7. Avoid text overflows */
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }
      /* 8. Create a root stacking context */
      #root,
      #__next {
        isolation: isolate;
      }

/* End Resets */

      main {
       font-size: 1.2rem;
       font-family: "Roboto Flex", sans-serif;
       margin: 12vh 30vw;
      }

      header {
        color: #33658a;
        
      }

      section {
        margin-bottom: 20px;
      }

      #intro {
        /*background-image: url("images/forest-sky-3000x2000.jpg");*/
        background-color: #003366;
        background-size: 1000px;
        background-repeat: no-repeat;
        color: white;
        font-size: 1.5rem;
        margin-bottom: 20px;
        padding: 3em;
      }

      #intro h1 {
        margin-bottom: 20px;
      }

      #buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        color: white;
        margin-top: 2em;
      }

      button {
        border: 2px white solid;
        padding: 10px;
        background-color: transparent;
        border-radius: .375rem;
      }

      button a {
        color: white;
        text-decoration: none;
        font-size: 90%;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        text-wrap: balance;
        font-family: "Montserrat Alternates", sans-serif;
      }

      h2 {
      /*  margin-top: 20px;*/
        margin-bottom: 10px;
      }

      p,
      li,
      figcaption {
        text-wrap: pretty;
        max-width: 80ch;
      }

      p,
      ul {
        margin: 20px inherit;
      }

      ul {
        list-style-type: square; 
        padding-top: 10px; }

      #skills {
        columns: 2;
      }

      footer {
       /* color: white;
        background-color: #003366;
        background-image: url("images/forest-sky-3000x2000.jpg");*/
        font-family: "Roboto Flex", sans-serif;
        margin-top: 150px;
        padding: 3em;
      }

      details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}
